<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>CRUD com Python</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
       <nav  class="d-block p-2 bg-light text-dark">
            <span class="navbar-text m-auto ">
              <h1>Cadastrar Produtos</h1>
            </span>
        </nav>
    </div>
    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <table class="table table-borderless table-striped">
          <thead class="table-danger">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome do Produto</th>
              <th scope="col">Codigo do Produto</th>
              <th scope="col">Descricao do Produto</th>
              <th scope="col">Marca do Produto</th>
              <th scope="col">Valor do Produto</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
          {% for dbs in db %}
           <tr>
              <th>{{dbs.id}}</th>
              <td>{{dbs.nome}}</td>
              <td>{{dbs.codigo}}</td>
              <td>{{dbs.descricao}}</td>
              <td>{{dbs.marca}}</td>
              <td>{{dbs.valor}}</td>
              <td>
              <div class="btn-group">
                <a href="/produto/view/{{dbs.id}}/" class="btn btn-info">Visualizar</a>
                <a href="/produto/edit/{{dbs.id}}/" class="btn btn-secondary">Editar</a>
                <a href="/produto/delete/{{dbs.id}}/" class="btn btn-danger btnDel">Deletar</a>
              </div>
              </td>
           </tr>
          {% endfor %}
          </tbody>
        </table>
      <div class="btn-group">
        <a href="/produto/form/{{empresa_id}}/" class=" btn btn-success">Adicionar Produto</a>
        <a href="/" class=" btn btn-info">Voltar</a>
      </div>
    </div>
    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>
</body>
</html>